# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Streamlit Secrets
# =========================
.streamlit/secrets.toml

# =========================
# Data Files
# =========================
data/raw/
data/processed/

# =========================
# Vector Databases
# =========================
vectorstore/
qdrant_storage/

# =========================
# Model Caches
# =========================
models/
cache/
.huggingface/
hf_cache/

# =========================
# Logs
# =========================
*.log

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Local Databases
# =========================
*.db
*.sqlite3